{% extends 'accounts/base.html' %}
{% load static %}
{% block content %}
<main class="landing">
    <div class="hero">
        <span>Recently added...</span>

        <div class="content">
            {% for poem in poems %}
                <div class="poem">
                    <h1 class="poem-title">{{poem.title}}</h1>
                    <p>{{poem.body|truncatechars:95|safe}}</p>
                    <br>
                    <a href="{% url 'accounts:poem_details' poem.id %}">read more</a>
                    <br>
                    <i>Author: {{poem.author}}</i>
                </div>
            {% endfor %}
        </div>
    </div>
   

  
</main>
{% endblock %}
