 .details-container{
    display: flex;
    justify-content:flex-start;
    align-items:center;
    flex-direction:column;
    background-color: rgb(255, 255, 255);
    margin:20px;
    height:fit-content;
}
 .details-container h1{
    margin:20px;
    font-size: 30px;

}
.poem-wrapper{
    height: fit-content;
    width: 300px;
}
.poem-info{
    display: flex;
    justify-content: center;
    align-items: flex-start;
} 

form{
    text-align: right;
}
.comment-container{
    margin-bottom: 20px;
}
#comment{
    border: 1px solid  black;
    margin-bottom: 10px;
}
.comment-btn{
    padding: 10px;
    justify-self: center;
    border: 1px solid black;
    background-color:white;
    transition: ease-in 0.5s;
}
.comment-btn:hover{
    background-color: #374151;
    color: white;
}
.comment-item{
   


    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction:column;
    width: 400px;

   
}
.comment-item > a{
    justify-self: flex-start;
    align-self: flex-start;
    
}
.comment-info{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.comment-body{
    background-color: #BFDBFE;
    min-height: 75px;
    min-width: 300px;
    margin-left: 10px;
    

}